<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.authlib" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".KickoffActivity"
            android:label=""
            android:exported="false"
            android:theme="@style/LoginActivityTheme.Transparent"/>

        <activity
            android:name=".ui.AuthMethodPickerActivity"
            android:theme="@style/LoginActivityTheme"
            android:exported="false"/>

        <activity android:name=".ui.RegisterUserActivity"
            android:label=""
            android:exported="false"
            android:theme="@style/NewUserActivityTheme"/>

        <activity android:name=".ui.SignInEmailActivity"
            android:label=""
            android:exported="false"
            android:theme="@style/NewUserActivityTheme"/>

    </application>
</manifest>
